.food_each {
	width:95%;
	height:auto;
	border:2px solid black;
	margin: 20px;
	border-radius: 10px;

		background: rgba(255,175,75,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 0%, rgba(255,146,10,0.49) 46%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,175,75,1)), color-stop(0%, rgba(255,146,10,1)), color-stop(46%, rgba(255,146,10,0.49)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 0%, rgba(255,146,10,0.49) 46%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 0%, rgba(255,146,10,0.49) 46%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 0%, rgba(255,146,10,0.49) 46%);
		background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 0%, rgba(255,146,10,0.49) 46%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

.food_quickinfo {
	width: 50%; 
	display:inline-block;'
}

.food_thumb {
	width: 40%;
	display:inline-block;
}