<h1>{{food.name}}</h1>

<div class='food_detailinfo'>
			<h2 style='width:70%; display: inline-block; margin-left:10px;'>{{food.name}}</h2><br/>
				{{food.onsale}}
				{{food.veggie}}
				{{food.sides}}
				{{food.toppings}}
			<h5 style='text-align:center; margin-top:50px; width:70%; margin-left:10%;'>{{food.description}}</h5>

			<!-- How to fix this code: http://stackoverflow.com/questions/31690847/how-to-add-or-remove-list-of-values-in-array-based-on-checkbox-selection-in-angu -->
			<h2>Fix this code here! See //comments for details</h2>

			<div class='sides_toppings'>
				<form class='sides_top'>

					<!-- The drinks and side code is okay if each combo only receives 1 drink and 1 side. Code should be changed to be more flexible such as with toppings -->
					<div id='drinks_box' style='display:inline-block;'>
						<select name='drinkSelect' ng-model='select_drink'>
							<option ng-repeat='drink in drinks' value={{drink}}>{{drink.name}}
							</option>
						</select>
					</div>
					<div id='sides_box' style='display:inline-block;'>
						<div class='sides' ng-repeat='side in sides'>
							<input type='number' name='side_' ng-model='side.quantity'>{{side.name}}
							Topping: {{side.quantity}}
						</div>
					</div>

					<!-- toppings code allows for multiple selections and duplicates -->
					<div id='toppings_box' style='display:inline-block;'>
						<div class='toppings' ng-repeat='topping in toppings'>
							<input type='number' name='topp' ng-model='topping.quantity'>{{topping.name}}
							Topping: {{topping.quantity}}
						</div>
					</div>
				</form>
			</div>

		<div class='food_thumb'>
			<img src={{food.imageUrl}} style='width:100%; height:auto;'>
		</div>
		<div style='width:9%; display:inline-block;'>
			<h3>${{food.price}}</h3><br/>
		</div>
	<button class='btn btn-block btn-primary' ng-click='add(food)'>Add</button>
</div>


{{all}}