<h1>MENU</h1>

	<div class='food_each' ng-repeat='food in foods'>
		<div class='food_quickinfo'>
			<h2>{{food.name}}</h2>
			On Sale:{{food.onsale}}
			Veggie:{{food.veggie}}
			<h5>{{food.description}}</h5>
		</div>
		<div class='food_thumb'>
			<img src={{food.imageUrl}} style='width:100%; height:auto;'>
		</div>
		<div style='width:10vw; display:inline-block;'>
			<button class='btn btn-success btn-block' style='height:200px;' ng-click='enterFood(food)' href='#/menu/{{food.id}}'>
			<h3>${{food.price}}</h3><br/>Combo
			</button>
		</div>
	</div>